aws_region               = "ap-south-1"
environment              = "dev"
name_prefix              = "platform"
root_domain              = "rdhcloudlab.com"
poc_subdomain            = "poc"
create_poc_hosted_zone   = true
existing_poc_hosted_zone_id = ""
parent_hosted_zone_id    = ""
cluster_version          = "1.29"
node_instance_types      = ["t3.xlarge"]
node_desired_size        = 2
node_min_size            = 2
node_max_size            = 4
enable_cert_manager      = true
enable_external_dns      = true
enable_metrics_server    = true
enable_ecr               = false
ecr_repository_names     = ["shared-app"]
vpc_cidr                 = "10.0.0.0/16"
single_nat_gateway       = true
additional_tags = {
  Owner = "platform-team"
}
