# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
crash.*.log
*.tfvars
*.tfvars.json
terraform.plan
terraform.tfplan
.terraform.lock.hcl
backend.hcl

# Env
.env

# Helm/Kube
kubeconfig-*

# macOS/Linux
.DS_Store
